
*.html
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/css/blocks.css
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/images/header.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/js/global.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/js/jquery.scrollTo.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/js/navigation.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/assets/js/skip-link-focus-fix.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/themes/twentyseventeen/style.css
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/coffee.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/espresso-1024x614.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/espresso-1536x922.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/espresso-300x180.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/espresso-768x461.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/espresso.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/sandwich-1024x614.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/sandwich-1536x922.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/sandwich-300x180.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/sandwich-768x461.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-content/uploads/2021/08/sandwich.jpg
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-includes/css/dist/block-library/style.min.css
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-includes/js/jquery/jquery-migrate.min.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-includes/js/jquery/jquery.min.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-includes/js/wp-embed.min.js
wp-content/plugins/simply-static/static-files/simply-static-1-1628219556/wp-includes/wlwmanifest.xml
